{% extends "layout.html" %}
{% block body %}
<table class="table">
    {% if playerList %}
    <thead>
        <tr>
            <th class="table-primary">背番号</th>
            <th class="table-primary">選手名</th>
            <th class="table-primary">詳細</th>
        </tr>
    </thead>

    <tbody>       
        {% for player in playerList %}
        <tr>
            <td>{{ player.number }}</td>    
            <td>{{ player.name }}</td>    
            <td>{{ player.text }}</td>    
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>
                選手が登録されていません
            </td>
        </tr>
        {% endif %}     
    </tbody>
</table>    

<form action="{{ url_for('main') }}" method="post">
    <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;">戻る</button>
</form>    
{% endblock %}