<!doctype html>
<title>給与結果</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<div class="container">
    <form action="{{url_for('login')}}" method=post>
        <div class="form-group">
            <label for="InputTitle">給与計算</label>
            <p>給料: {{ kyuyo }}、支給額: {{ result }}、税額: {{ zei }}です。</p>
        </div>
        <a  class="btn btn-primary" href="{{url_for('show_entries')}}">戻る</a>
    </form>
</div>